<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vkm.vkm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_vkm_main_icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat">
        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_main">
        </activity>
        <activity
                android:name=".SearchActivity"
                android:label="@string/search_activity_title">
        </activity>
        <activity
                android:name=".HistoryActivity"
                android:label="@string/history_activity_title">
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/commands_and_settings_label">
        </activity>
        <activity android:name=".ProxyActivity"
                  android:label="@string/select_proxy">
        </activity>
    </application>

</manifest>